---
import SpotifyPlaylistTracker from "./SpotifyPlaylistTracker";
import { useState } from "react";



---

<div class="playlist-banner">
      <SpotifyPlaylistTracker client:load />
</div>
<style>
  .playlist-banner {
  border: 3px solid #28323E; /* Border color and width */
  border-radius: 20px; /* Adjust the value for rounded corners */
  padding: 20px; /* Add padding to create space between content and border */
}
</style>