---
import Navbar from '../components/Navbar.astro';
import SpotifyDaylistBanner from '../components/spotify/SpotifyDaylistBanner.astro';
import GradientLayout from '../layouts/GradientLayout.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="My Current Spotify Daylist">
	<GradientLayout>
		<main>
			<header>
				<Navbar/>
			</header>
				<h1>here's my current spotify daylist</h1>
				<div class="subheader">
					(this playlist does not have any reflection on my work skills nor my personality i promise)
				</div>
                <SpotifyDaylistBanner/>
		</main>
	</GradientLayout>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #28323E;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1;
		margin-top: 1em;
	}
	.subheader {
		font-size: 1.25rem;
		font-weight: 100;
		line-height: 1;
		padding-bottom: 2rem;
	}
</style>
