---
import Navbar from '../components/Navbar.astro';
import GradientLayout from '../layouts/GradientLayout.astro';
import Layout from '../layouts/Layout.astro';
import ImageCard from '../components/images/ImageCard.astro'


var settings = {
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1
    };

---

<Layout title="Ethan Reyna">
	<GradientLayout>
		<main>
			<header>
				<Navbar/>
			</header>
			<h1>howdy! i'm ethan :)</h1>
			<div class="section">
				<span class="description">
					I'm a software engineer from Houston, Texas, and this is my personal website. Here you can find my project experience,
					my resume, and some more info about my work. 
				</span>
			</div>
			<div class="section">
				<span class="description">
					Here's a little picture of me
				</span>
			</div>
			<div class="section">
				<ImageCard imageUrl="/ethan_reyna_pic1.png" height="200rem" width="175rem"/>
			</div>
		</main>
	</GradientLayout>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #28323E;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1;
		margin-top: 1em;
	}
	.subheader {
		font-size: 1.25rem;
		font-weight: 100;
		line-height: 1;
	}
	.description {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.section {
		margin-bottom: 1em;
		margin-top: 1em;
	}
</style>
