---
import Navbar from '../components/Navbar.astro';
import ProjectCard from '../components/projects/ProjectCard.astro';
import GradientLayout from '../layouts/GradientLayout.astro';
import Layout from '../layouts/Layout.astro';

type Image = {
	smallUrl: string;
	largeUrl: string;
}

const ProjectOneImages:Image[] = [{
	smallUrl: '/start-report-page-1-small.png',
	largeUrl: '/start-report-page-1.png',
},
{
	smallUrl: '/create-report-page-1-small.png',
	largeUrl: '/create-report-page-1.png',
}
]

---

<Layout title="Ethan's Projects">
	<GradientLayout>
		<main>
			<header>
				<Navbar/>
			</header>
			<h1>here's some of my past projects</h1>
			<div class="subheader">
				hit that little arrow button to expand each project section to learn more about it!
			</div>
            <ProjectCard 
				project_name="Report Generator" 
				company="Trava" 
				description="Generates reports from vulnerability data."
				images={ProjectOneImages}
				sections={[
					{ name: "Overview", description: "This report generator is a feature I worked on during my time at Trava. It allowed tenants to select different assessments they ran previously (assessments collected vulnerability data by running different scans on assets they chose) and applied it onto a DOCX template that they also selected. During my time there, in the production environment, over 8000 reports were generated using this process. The generator was a vital piece of our product, as many tenants could easily use it to get Carrier Reports, which they could send to their providers and get potentially cheaper rates on their security insurance." },
					]}
			/>
            <ProjectCard 
				project_name="Client Import via CSV" 
				company="Trava" 
				description="Imports clients using data from a csv file."
				/>
            <ProjectCard 
				project_name="Spotify Current Daylist" 
				company="Personal" 
				description="Displays my current Spotify daylist."
			/>
		</main>
	</GradientLayout>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #28323E;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.subheader {
		font-size: 1.25rem;
		font-weight: 100;
		line-height: 1;
		padding-bottom: 2rem;
	}
</style>
