---
import Navbar from '../components/Navbar.astro';
import ProjectCard from '../components/projects/ProjectCard.astro';
import GradientLayout from '../layouts/GradientLayout.astro';
import Layout from '../layouts/Layout.astro';

type Image = {
	smallUrl: string;
	largeUrl: string;
}

const ProjectOneImages:Image[] = [{
	smallUrl: '/start-report-page-1-small.png',
	largeUrl: '/start-report-page-1.png',
},
{
	smallUrl: '/create-report-page-1-small.png',
	largeUrl: '/create-report-page-1.png',
}
]

---

<Layout title="Ethan's Projects">
	<GradientLayout>
		<main>
			<header>
				<Navbar/>
			</header>
			<h1>here's some of my past projects</h1>
			<div class="subheader">
				hit that little arrow button to expand each project section to learn more about it!
			</div>
            <ProjectCard 
				project_name="Report Generator" 
				company="Trava" 
				description="Generates reports from vulnerability data."
				images={ProjectOneImages}
				sections={[
					{ name: "Section 1", description: "Description of Section 1" },
					{ name: "Section 2", description: "Description of Section 2", list_description: ["list item 1", "list item 2"] }
				]}
			/>
            <ProjectCard 
				project_name="Client Import via CSV" 
				company="Trava" 
				description="Imports clients using data from a csv file."
				/>
            <ProjectCard 
				project_name="Spotify Current Daylist" 
				company="Personal" 
				description="Displays my current Spotify daylist."
			/>
		</main>
	</GradientLayout>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #28323E;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.subheader {
		font-size: 1.25rem;
		font-weight: 100;
		line-height: 1;
		padding-bottom: 2rem;
	}
</style>
