---
import Navbar from '../components/Navbar.astro';
import WorkCard from '../components/WorkCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Work Page">
		<main>
			<header>
				<Navbar/>
			</header>
			<h1>here's my work experience</h1>
                <WorkCard company="Trava" role="Software Engineer" body="I worked here. It was a little silly bc I got laid off :P"/>
                <WorkCard company="Wipro" role="Software Engineering Associate" body="According to my resume I worked here but I didn't actually work here. Silly for a full different reason."/>
                <WorkCard company="Thats It" role="I'm just a little baby" body="Please hire me I really need some stability ;-;"/>

            </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 1em;
		margin-top: 1em;
	}
</style>
